
*.xcuserstate
project.xcworkspace

#################################################### Xcode.gitignore

## Build generated
build/
ipa/
*.pyc
*.log
DerivedData
hyb.app.dSYM.zip

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
xcdebugger
*.xcscmblueprint

############################# Objective-C.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

JZTUniBoost/JZTUniBoost/SDKs

# fastlane/
fastlane/Appfile
fastlane/Fastfile
fastlane/README.md
fastlane/report.xml
fastlane/
.DS_Store
*.xcscheme
flutter_module/.android/Flutter/build.gradle
flutter_module/.android/Flutter/flutter.iml
flutter_module/.android/Flutter/src/main/AndroidManifest.xml
flutter_module/.android/Flutter/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
flutter_module/.android/app/build.gradle
flutter_module/.android/app/src/main/AndroidManifest.xml
flutter_module/.android/app/src/main/java/com/example/flutter_module/host/MainActivity.java
flutter_module/.android/app/src/main/res/drawable/launch_background.xml
flutter_module/.android/app/src/main/res/mipmap-hdpi/ic_launcher.png
flutter_module/.android/app/src/main/res/values/styles.xml
flutter_module/.android/build.gradle
flutter_module/.android/gradle.properties
flutter_module/.android/gradle/wrapper/gradle-wrapper.jar
flutter_module/.android/gradle/wrapper/gradle-wrapper.properties
flutter_module/.android/gradlew
flutter_module/.android/gradlew.bat
flutter_module/.android/include_flutter.groovy
flutter_module/.android/local.properties
flutter_module/.android/settings.gradle
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/.filecache
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/App.framework/App
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/app.dill
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/debug_ios_bundle_flutter_assets.stamp
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/debug_universal_framework.stamp
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/debug_unpack_ios.stamp
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/flutter_assets.d
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/gen_localizations.stamp
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/kernel_snapshot.d
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/kernel_snapshot.stamp
flutter_module/.dart_tool/flutter_build/0033e5e16d8fbc277b1ac5624c8afaa0/outputs.json
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/.filecache
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/App.framework/App
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/aot_assembly_profile.stamp
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/app.dill
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/arm64/App.framework/App
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/arm64/snapshot_assembly.S
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/arm64/snapshot_assembly.o
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/armv7/App.framework/App
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/armv7/snapshot_assembly.S
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/armv7/snapshot_assembly.o
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/flutter_assets.d
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/gen_localizations.stamp
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/kernel_snapshot.d
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/kernel_snapshot.stamp
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/outputs.json
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/profile_ios_bundle_flutter_assets.stamp
flutter_module/.dart_tool/flutter_build/577d85c056077d19321d1bbe1e8beab8/profile_unpack_ios.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/.filecache
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/App.framework/App
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/app.dill
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/debug_ios_bundle_flutter_assets.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/debug_universal_framework.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/debug_unpack_ios.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/flutter_assets.d
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/gen_localizations.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/kernel_snapshot.d
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/kernel_snapshot.stamp
flutter_module/.dart_tool/flutter_build/5f3a66a966d1b1990cc3c7d339e8b677/outputs.json
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/.filecache
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/App.framework/App
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/aot_assembly_release.stamp
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/app.dill
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/arm64/App.framework/App
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/arm64/snapshot_assembly.S
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/arm64/snapshot_assembly.o
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/armv7/App.framework/App
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/armv7/snapshot_assembly.S
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/armv7/snapshot_assembly.o
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/flutter_assets.d
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/gen_localizations.stamp
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/kernel_snapshot.d
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/kernel_snapshot.stamp
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/outputs.json
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/release_ios_bundle_flutter_assets.stamp
flutter_module/.dart_tool/flutter_build/7085cc9ea08472b1e4c4a0d839a5000d/release_unpack_ios.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/.filecache
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/App.framework/App
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/app.dill
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/debug_ios_bundle_flutter_assets.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/debug_universal_framework.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/debug_unpack_ios.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/flutter_assets.d
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/gen_localizations.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/kernel_snapshot.d
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/kernel_snapshot.stamp
flutter_module/.dart_tool/flutter_build/df427c6766413e91d71cf3ca1da05f2f/outputs.json
flutter_module/.dart_tool/package_config.json
flutter_module/.dart_tool/package_config_subset
flutter_module/.dart_tool/version
flutter_module/.idea/.gitignore
flutter_module/.idea/libraries/Dart_Packages.xml
flutter_module/.idea/libraries/Dart_SDK.xml
flutter_module/.idea/libraries/Flutter_Plugins.xml
flutter_module/.idea/misc.xml
flutter_module/.idea/modules.xml
flutter_module/.idea/vcs.xml
flutter_module/.ios/Config/Debug.xcconfig
flutter_module/.ios/Config/Flutter.xcconfig
flutter_module/.ios/Config/Release.xcconfig
flutter_module/.ios/Flutter/App.framework/App
flutter_module/.ios/Flutter/AppFrameworkInfo.plist
flutter_module/.ios/Flutter/FlutterPluginRegistrant/Classes/GeneratedPluginRegistrant.h
flutter_module/.ios/Flutter/FlutterPluginRegistrant/Classes/GeneratedPluginRegistrant.m
flutter_module/.ios/Flutter/FlutterPluginRegistrant/FlutterPluginRegistrant.podspec
flutter_module/.ios/Flutter/Generated.xcconfig
flutter_module/.ios/Flutter/README.md
flutter_module/.ios/Flutter/engine/Flutter.podspec
flutter_module/.ios/Flutter/engine/Flutter.xcframework/Info.plist
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Flutter
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/Flutter.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterAppDelegate.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterBinaryMessenger.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterCallbackCache.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterChannels.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterCodecs.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterDartProject.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterEngine.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterEngineGroup.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterMacros.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterPlatformViews.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterPlugin.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterTexture.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Headers/FlutterViewController.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Info.plist
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/Modules/module.modulemap
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-armv7_arm64/Flutter.framework/icudtl.dat
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Flutter
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/Flutter.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterAppDelegate.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterCallbackCache.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterChannels.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterCodecs.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterDartProject.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterEngine.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterEngineGroup.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterMacros.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterPlatformViews.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterPlugin.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterTexture.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Headers/FlutterViewController.h
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Info.plist
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/Modules/module.modulemap
flutter_module/.ios/Flutter/engine/Flutter.xcframework/ios-x86_64-simulator/Flutter.framework/icudtl.dat
flutter_module/.ios/Flutter/flutter_export_environment.sh
flutter_module/.ios/Flutter/flutter_module.podspec
flutter_module/.ios/Flutter/podhelper.rb
flutter_module/.ios/Runner.xcodeproj/project.pbxproj
flutter_module/.ios/Runner.xcworkspace/contents.xcworkspacedata
flutter_module/.ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
flutter_module/.ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
flutter_module/.ios/Runner/AppDelegate.h
flutter_module/.ios/Runner/AppDelegate.m
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
flutter_module/.ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
flutter_module/.ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
flutter_module/.ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
flutter_module/.ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
flutter_module/.ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
flutter_module/.ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
flutter_module/.ios/Runner/Base.lproj/LaunchScreen.storyboard
flutter_module/.ios/Runner/Base.lproj/Main.storyboard
flutter_module/.ios/Runner/Info.plist
flutter_module/.ios/Runner/main.m
flutter_module/.packages

# NODE
node_modules/
package-lock.json
